// all
*
    line-height: 1.8

// section title
.title
    border-left: solid 7px orange
    padding .5rem
    margin: .3rem 0
    font-weight: bold

    // background: #B9F6CA == rgb(185, 246, 202)
    background: -moz-linear-gradient(top, #B9F6CA 40%, rgba(185, 246, 202, 0))
    background: -webkit-linear-gradient(top, #B9F6CA 40%, rgba(185, 246, 202, 0))
    background: linear-gradient(to bottom, #B9F6CA 40%, rgba(185, 246, 202, 0))

    code
        font-size: 1rem
    li
        margin: .2rem 0

// list content change
ul > li
    list-style: none
ul > li::before
    content: '★ '

// like command prompt
.prompt
    margin: 0 .5rem
    padding: 0 .5em
    border-radius: 10px
    background: black
    color: white


// source code
// code
//     margin: 0 .15rem
//     overflow-x: auto
//     white-space: pre
// .code
//     width: 100%
//     background: #263238
//     color: white
//     padding: 5px 20px
//     font-size: 1rem


.details-center
    margin: auto
    *
        max-width: 100%

// keyword marker / important word
.keyword
    padding: .1rem .5rem
    background: #a5c7ff
    border-radius: 20px

// summary frame
.frame
    margin: .2rem 0
    padding: .3rem
    border: solid 2px #FFCDD2
    width: fit-content

// important
.lookat
    // background: #F48FB1
    background: #ffc1d6
    border-radius: 5px
    padding: .1rem .5rem
    margin: 0 .1rem
    font-size: .9rem

// result of source code
.exec-result
    width: fit-content
    min-width: 50%
    max-width: 85%
    background: #B39DDB
    margin: auto
    padding: 0 1rem
    border-radius: 10px
    white-space: pre

.exec-result::before
    content: '実行結果\A'
    white-space: pre
    background: #FFCDD2
    padding: .15rem .5rem
    margin: 1rem

// marker of caption
.marker
    background: linear-gradient(to bottom, rgba(255, 255, 102, 0) 60%, #ffff66)
    background: -moz-linear-gradient(top, rgba(255, 255, 102, 0) 60%, #ffff66)
    background: -webkit-linear-gradient(top, rgba(255, 255, 102, 0) 60%, #ffff66)
    width: fit-content
    margin: .2rem 0

// unit title, v-scroll-to_id
.unit-title
    text-align: center
    font-weight: bold

// btn-layout of prev-page, next-page
.prev-next-btn
    display: flex
    justify-content: space-between
    text-align: center
    margin: auto

// btn-layout of prev-page
.prev-btn
    text-align: left
    margin: auto

// btn-layout of next-page
.next-btn
    text-align: right
    margin: auto

.main-pane
    min-height: 100%
    width: 80%
    max-width: 800px
    margin-left: auto
    margin-right: auto
    padding: 3rem 2rem

.exp-top
    text-align: center
    border-bottom: solid 3px #0277BD
    width: 250px
    margin: auto


// change to monospace fonts
code, table, pre, .lookat, .prompt, .exec-result
    font-family: 'Roboto Mono', monospace, sans-serif
