.main-pane
    *
        padding: .4rem
    min-height: 100%
    width: 80%
    max-width: 800px
    margin-left: auto
    margin-right: auto
    padding: 3rem 2rem

.contents
    text-align: left
    margin: 5px 10px
    background: #4DB6AC
    border-left: solid 7px orange
    border-right: solid 7px orange

.prompt
    margin: 0 .5rem
    border-radius: 10px
    background: black
    color: white
    font-size: 1.1rem

code
    overflow-x: auto

.code
    background: #263238
    color: white
    padding: 5px 20px
    font-size: 1.1rem

.question
    display: flex
    align-items: center
    font-style: oblique
    color: #FF1744

.question::after
    margin-left: 1.5rem
    border-top: solid 1px #FF1744
    content: ''
    flex-grow: 1
